.post-container {
  background-color: white;
  
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 0.25rem;
}

.post-title {
  font-size: 1.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.link {
  color: #1488cc;
}

.non-text-decoration {
  text-decoration: none;
}

.link:hover {
  color: rgba(0, 0, 0, 0.88);
}

.tag-container {
  margin-top: 8px;
  margin-bottom: 8px;
}
